@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: white;
  background-size: 400% 400%;
  color: black;
  cursor: url('./assets/cursor.png'), auto;
}

* {
  cursor: url('./assets/cursor.png'), auto;
}


a, button, input, textarea, select, [role="button"], [onclick] {
  cursor: url('./assets/cursor.png'), pointer;
}

#root {
  min-height: 100vh;
  width: 100%;
}